<ion-header>
  <ion-navbar>
    <ion-title>When to Call</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>
        <button ion-button round style="width:auto; height:auto;" (click)="btn_call_emrg_clicked()">
          <ion-img style="width: 80px; height: 80px;" src="assets/imgs/ic_call_emrg.png"></ion-img>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button round style="width:auto; height:auto;" (click)="btn_call_gen_clicked()">
          <ion-img style="width: 80px; height: 80px;" src="assets/imgs/ic_call_other.png"></ion-img>
        </button>
      </ion-col>
      <br><br>
    </ion-row>
    <!-- <ion-row justify-content-center>
      <ion-col>
        <ion-label color="primary" style="font-weight:bold; font-size:medium">General Symptoms</ion-label>
      </ion-col>
    </ion-row> -->
  </ion-grid>
  <ion-list>
      <ion-list-header style="color:blue; font-weight: bold">
          General Symptoms
        </ion-list-header>
    <button ion-item *ngFor="let genItem of genSymptomItems; let i = index" (click)="genSympItemSelected(genItem.Id)">
        {{ genItem.Value }}
    </button>
  </ion-list>
  <ion-list>
      <ion-list-header style="color:blue; font-weight: bold">
          BMIT Symptoms
        </ion-list-header>
    <button ion-item *ngFor="let bmitItem of bmitSymptomItems; let j = index;" (click)="bmitSympItemSelected(bmitItem.Id)">
      {{ bmitItem.Value }}
    </button>
  </ion-list>
  
</ion-content>
